
/* Resetowanie marginesów i paddingu dla wszystkich elementów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #cacaca;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 100vw;
    height: 100vh;
}



.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

    width: 80%;
    height: 100%;
}

/* this selector selects all divs inside of .flex-container */
.flex-container .main-div {   
    border-width: 4px;
    border-color:  #222222;
    border-style: none dashed solid dashed;

    width: 100%;
    margin: 10px auto 10px auto; 

    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    line-height: 2em;

    justify-content: center;
    align-content: center;

  /* flex: 0 0 auto;
    flex-grow
    flex-shrink
    flex-basis
  */
}


h1 {
    color: #222222;
    font-size: 3em;
}
        
p {
    color: #444444;
    font-weight:normal;
}

/*
#game-container {
    text-align: center;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
} */

#game {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 10px;
    margin-top: 20px;
}

/* Row - każda grupa trzech rund */
.row {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 10px; /* Odstęp między rundami */
}

.round {
    flex: 0 1 calc(33.33% - 10px); /* Zmienia na 33.33% minus margines */
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    margin: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
}






/* Wynik końcowy */
.final-result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2em;
}